.reportMenuWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fixedMenu {
    width: 70%;
    top: 70px;
    position: fixed;
}
.Menu {
    background: white;
    padding: 10px 0px 10px 0px;
    height: 100px;
}
.fixedReportMenu {
    width: 70%;
    top: 170px;
    position: fixed;
}
.selectBoxWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
}

/* ---------------------------리포트 */
.reportInnerWrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.borderBox {
    padding: 18px;
    border: 1px solid #e3e1e1;
}
.reportTitle {
    font-size: 0.8rem;
    padding-bottom: 20px;
}
.reportPiesWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 2rem;
    width: 80%;
}
.reportPieUnderWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reportPieUnderTitle {
    display: flex;
    gap: 10px;
    align-items: center;
}
.selectStyle {
    border: none;
    width: 120px;
    background: var(--brightgrey);
    padding: 4px 11px;
    color: var(--red);
    font-weight: bold;
    border-radius: 30px;
}
