.h50center {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.reportHeader {
    width: 100%;
    background: var(--red);
    color: white;
    font-size: 1.2rem;
    padding: 11px;
}
.reportNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    background: white;
    height: 50px;
}
.reportNavEach {
    box-sizing: border-box;
    border-bottom: 1.8px solid var(--linegrey);
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.reportNavEach:hover {
    border-bottom: 1.8px solid var(--red);
}
.reportNavEachSelected {
    border-bottom: 1.8px solid var(--red);
}
.reportContentWrap {
    /* padding: 15px 0; */
    overflow: scroll;
}
.report3refWrap {
    display: flex;
    gap: 10px;
    padding: 10px 10px 20px;
    border-bottom: 5px solid var(--linegrey);
    flex-direction: column;
}
.report3refEachTitle {
    /* padding-bottom: 10px;
    font-size: 0.9rem; */
}

.borderBox {
    padding: 10px 15px;
    border: 1px solid #e3e1e1;
}

.cateKw3Container {
    display: flex;
    gap: 1rem;
    padding-bottom: 5px;
}
.cateKw3each {
    width: 100px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--semigrey);
    cursor: pointer;
}
.cateKw3eachSelected {
    width: 100px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--red);
    color: var(--red);
    cursor: pointer;
}
.cateKw3storeWrap {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    padding-bottom: 1rem;
}
.cateKw3storeWrap::-webkit-scrollbar {
    border: none;
    height: 10px;
}
.cateKw3storeWrap::-webkit-scrollbar-thumb {
    background-color: rgb(255 80 75 / 30%);
    border-radius: 30px;
}
.createKw3storeEachWrap {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    cursor: pointer;
}
.innerTitle {
    font-size: 0.9rem;
    padding-bottom: 8px;
    font-weight: bold;
}
.innerSub {
    color: #4e4e4e;
    font-size: 0.9rem;
    padding-bottom: 5px;
}
.selectStyle {
    border: none;
    background: var(--brightgrey);
    padding: 3px 13px;
    color: var(--red);
    font-weight: bold;
}
