.headerRed {
    background: var(--red);
    border-radius: 10px 10px 0px 0px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.title {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 10px 0px;
    justify-items: center;
    border-bottom: 0.9px solid #b0b0b0;
}
.tagsWrap {
    display: flex;
    gap: 0.5rem;
}
.tagEach {
    border: 0.9px solid var(--red);
    border-radius: 7px;
    padding: 2px 4px 2px 4px;
    text-align: center;
    color: var(--red);
    font-size: 0.8rem;
}
.mainWrap {
    padding: 2% 3%;
    overflow-y: scroll;
    display: grid;
    gap: 11px;
}
.mainEachWrap {
    border: 0.9px solid #b0b0b0;
    padding: 0.8rem 1rem 0.8rem 1rem;
}
.mainEachTitle {
    font-weight: bold;
    padding-bottom: 10px;
}
.mainKeywordContentsWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mainReviewEach {
    padding: 10px 0;
}
.mainReviewEach:not(:last-child) {
    border-bottom: 0.9px solid #b0b0b0;
}
.reviewKeyword {
    color: var(--red);
    padding-bottom: 5px;
}
.reviewSentence {
    font-size: 0.9rem;
}
.pctWrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.pctRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}
.pctRTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
}
